
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

h2 {
    text-align: center;
    margin-top: 20px;
}


.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b38f00;
    font-weight: 600;
}

#contactForm {
    display: flex;
    
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    width: 500px;
    height: auto;
    padding: 10px;
    border: 2px solid #252527;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: -webkit-box-shadow 1s;
   
    
}

#contactForm:hover {
    
    border: 4px solid #000001;
    -webkit-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
    

}

#contacForm h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 800;
}


.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #645307ad;
    z-index: 1;
    visibility: hidden;

}















