/* styles.css */
body {
    background-origin: padding-box;
}

.navbar {
    background-color: #0c7c2e;
}

.form-control {
    width: 300px;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #28a745;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.dropdown-menu {
    min-width: 200px;
}

.navbar-nav .nav-item .dropdown-menu {
    top: 100%;
    left: 0;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
    white-space: nowrap;
}

.col-md-4 {
    /* Reduce el ancho de la columna para mostrar más tarjetas por fila */
    width: 25%; /* Opcional: ajusta el ancho según el número de tarjetas por fila */
  }

:root {
    --primary-color: #08094f;/* Vinotinto */
    --secondary-color: #f0f0f0; /* Gris claro */
    --accent-color: #222; /* Gris oscuro para títulos */
  }
  
  .producto {
    background-color: var(--primary-color);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 5%;
  }
  
  .producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .producto:hover img {
    transform: scale(1.1);
  }
  
  .producto .card-body {
    background-color: var(--secondary-color);
    padding: 2rem;
  }
  
  .producto .card-title {
    color: var(--accent-color);
    font-weight: bold;
  }
  
  .producto .card-text {
    color: var(--accent-color);
  }
  
  .producto .btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .card {
    height: 100%;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-footer {
    background-color: transparent;
    border-top: none;
    padding: 0.75rem 1.25rem;
}
.card-footer .btn {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
}















